@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 8px 0px;
  z-index: 100;

  font-size: 15px;

  @include laptop-min {
    padding: 6px 0px;
  }
  @include tablet {
    padding: 4px 0px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 30px;

    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.4);
    color: white;

    @include laptop {
      gap: 20px;
    }
    @include laptop-min {
      padding: 10px 20px;
    }
    @include tablet {
      padding: 8px 16px;
    }
  }
  &__logo-wrap {
    padding-right: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    @include tablet {
      padding-right: 20px;
    }
  }
  &__logo {
    display: block;
    width: 40px;
    @include tablet {
      width: 30px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__nav {
    @include laptop-min {
      position: absolute;
      left: -9999px;
      z-index: -9999;
      opacity: 0;
    }
  }
  &__list {
    display: flex;
    gap: 35px;
    @include laptop {
      gap: 20px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    @include laptop {
      gap: 20px;
    }
  }
  &__contacts-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    @include laptop-middle {
      display: none;
    }
  }
  &__tel {
    font-size: 18px;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }
  &__address {
    @include laptop {
      font-size: 14px;
    }
  }
  &__btn {
    @include flex-center;
    padding: 13px 35px;
    background-color: var(--primary);
    cursor: pointer;

    text-align: center;
    font-size: 16px;
    line-height: 100%;
    color: var(--dark);

    transition: background-color 0.3s ease;

    @include laptop-min {
      display: none !important;
    }
    @include hover {
      background-color: var(--primary-h);
    }
  }
  &__burger-btn {
    @include flex-center;
    width: 36px;
    height: 36px;
    border: 1px solid white;
    font-size: 18px;

    transition: color .3s ease, border-color .3s ease;
    @include hover {
      color: var(--primary);
      border-color: var(--primary);
    }

    @media (min-width: 1026px) {
      display: none;
    }
  }
}
