@use "../base/templates" as *;
@use "../base/media" as *;

.s-connect {
  &__body {
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: rgba(0, 0, 0, 0.25);
      z-index: -1;
    }
  }
  &__block {
    width: 765px;
    max-width: 100%;
    padding: 75px 50px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.4);

    @include laptop-min {
      padding: 50px 30px;
    }
    @include tablet {
      padding: 30px 16px;
    }
  }
  &__head {
    text-align: center;
    max-width: 375px;
    margin: 0px auto 35px auto;
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__content {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
  }
  &__form {
    width: 100%;

    .form-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      @include tablet {
        gap: 15px;
      }
    }
    .btn-s[type="submit"] {
      width: 100%;
      margin-top: 10px;
    }
  }
}
