@use "../base/templates" as *;
@use "../base/media" as *;

.card-team {
  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1.18;
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin: 30px 0px 0px 0px;

    @include tablet {
      font-size: 16px;
      margin-top: 20px;
    }
    @include tablet-min {
      margin-top: 15px;
      font-size: 15px;
    }
  }
  &__post {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.8);
    @include tablet-min {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}
