@use "../base/templates" as *;
@use "../base/media" as *;

.content-box {
  line-height: 150%;
  & > * {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  a {
    text-decoration: underline;
    color: var(--primary);

    @include hover {
      text-decoration: none;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    @include tablet {
      font-size: 16px;
    }
  }
}
