@use "../base/templates" as *;
@use "../base/media" as *;

.slider-arrows {
  display: flex;
  gap: 20px;

  @include laptop-min {
    display: none;
  }
}
.slider-arrow {
  --border: white;
  --background: transparent;
  --color: white;
  --border-h: var(--primary);
  --background-h: transparent;
  --color-h: var(--primary);

  @include flex-center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);
  font-size: 18px;
  backdrop-filter: blur(6.6px);

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease,
    opacity 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color-h);
  }

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &._dark {
    --background: rgba(0, 0, 0, 0.4);
    --background-h: rgba(0, 0, 0, 0.6);
  }
}

.slider-pagination {
  display: flex;
  width: fit-content !important;
  gap: 6px;

  &._blur {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px;
    border-radius: 12px;
  }

  .swiper-pagination-bullet {
    --background: white;
    --background-a: var(--primary);

    margin: 0 !important;
    opacity: 1;
    border-radius: 10px;
    flex: 0 0 8px;
    height: 8px;

    background-color: white;

    transition:
      flex-basis 0.3s ease,
      background-color 0.3s ease;

    @include hover {
      background-color: var(--background-a);
    }

    &.swiper-pagination-bullet-active {
      background-color: var(--background-a);
      flex-basis: 25px;
    }
  }
}

.slider-scrollbar {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 1px;
  @include tablet {
    margin-top: 20px;
  }

  .swiper-scrollbar-drag {
    position: relative;
    background-color: var(--primary);

    &::before {
      position: absolute;
      content: "";
      inset: -1px 0px;
      background-color: var(--primary);
      z-index: 1;
    }
  }

  &._lap-min {
    @media (min-width: 1026px) {
      display: none;
    }
  }
}
