<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__main">
        <div class="footer__logo-wrap">
          <a href="/" class="footer__logo">
            <img src="@img/logo.svg" alt="logo" />
          </a>
        </div>
        <p class="footer__main-content">
          Все права защищены. Копирование материалов строго по согласию
          администрации сайта.
        </p>
      </div>
      <ul class="list footer__list anchors">
        <li><a href="/#s-about">О нас</a></li>
        <li><a href="/#s-portfolio">Наше портфолио</a></li>
        <li><a href="/#s-video">Отзывы</a></li>
        <li><a href="/#s-production">Производство</a></li>
        <li><a href="/#s-contacts">Контакты</a></li>
      </ul>
      <div class="footer__contacts">
        <div class="footer__contacts-item">
          <a href="tel:+79999999999" class="footer__tel">+7 (999) 999-99-99</a>
          <a href="mailto:mail@domain.ru" class="footer__mail _opacity">
            mail@domain.ru
          </a>
        </div>
        <div class="footer__contacts-item">
          <div class="footer__contacts-text">Казань, ул. Пушкина, д. 7</div>
          <div class="footer__contacts-text _opacity">
            пн-пт с 09:00 до 19:00
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© ЛЕРО МЕБЕЛЬ, ИНН: 000000000</div>
      <ul class="list footer__bottom-list">
        <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
        <li>
          <a href="#" target="_blank">Политика обработки персональных данных</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/scrollyVideo/scrollyVideo.min.js"></script>
<script src="./files/gsap/gsap.min.js"></script>
<script src="./files/gsap/scrollTrigger.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
