<aside>
  <div class="modal" id="modal-feedback">
    <div class="modal__body">
      <div data-fancybox-close class="modal__close">
        <i class="icon-close"></i>
      </div>
      <div class="modal__title" data-text="Оставить заявку">Оставить заявку</div>
      <p class="modal__content">
        Оставьте заявку и мы свяжемся с Вами в ближайшее время
      </p>
      <form action="#" class="modal__form">
        <div class="form-grid">
          <div class="form-control">
            <input type="text" placeholder="Имя" class="input" />
          </div>
          <div class="form-control">
            <input type="tel" placeholder="Номер телефона" class="input" />
          </div>
          <div class="check-wrapper">
            <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
              <span class="wpcf7-form-control wpcf7-acceptance">
                <span class="wpcf7-list-item">
                  <label>
                    <input
                      type="checkbox"
                      name="acceptance-297"
                      value="1"
                      aria-invalid="false"
                    />
                    <span class="wpcf7-list-item-label">
                      <span>
                        Я соглашаюсь с
                        <a href="/personal-data" target="_blank">
                          Правилами обработки персональных данных
                        </a>
                      </span>
                    </span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <button type="submit" class="btn-s">Отправить</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="modal-thank"></div>
</aside>
