<section class="sect-p bg-mine-shaft s-about" id="s-about">
  <div class="container">
    <div class="s-about__wrapper">
      <div class="s-about__info">
        <h1 class="s-title s-about__title">LERO мебель - это</h1>
        <div class="content-box s-about__content">
          <p>
            LERO мебель - это Таким образом, высокотехнологичная концепция
            общественного уклада не даёт нам иного выбора, кроме определения
            приоретизации разума над эмоциями. Для современного мира выбранный
            нами инновационный путь, а также свежий взгляд на привычные вещи —
            безусловно открывает новые горизонты для поставленных обществом
            задач.
          </p>
          <p>
            Высокий уровень вовлечения представителей целевой аудитории является
            четким доказательством простого факта: экономическая повестка
            сегодняшнего дня способствует повышению качества анализа
            существующих паттернов поведения. Проекты любой сложности Рассрочка
            0% до 12 месяцев Своё производство Дизайн-проект и замер - бесплатно
          </p>
        </div>
        <div class="s-about__adv">
          <div class="s-about__adv-item">
            <img src="@img/about-logo.svg" alt="icon" />
            <span>
              Проекты любой
              <br />
              сложности
            </span>
          </div>
          <div class="s-about__adv-item">
            <img src="@img/about-logo.svg" alt="icon" />
            <span>
              Рассрочка 0%
              <br />
              до 12 месяцев
            </span>
          </div>
          <div class="s-about__adv-item">
            <img src="@img/about-logo.svg" alt="icon" />
            <span>Своё производство</span>
          </div>
          <div class="s-about__adv-item">
            <img src="@img/about-logo.svg" alt="icon" />
            <span>
              Дизайн-проект
              <br />
              и замер - бесплатно
            </span>
          </div>
        </div>
      </div>
      <div class="s-about__gallery">
        <img src="@img/about.jpg" alt="image" class="s-about__gallery-img" />
        <img src="@img/about-logo.svg" alt="logo" class="s-about__logo" />
      </div>
    </div>
  </div>
</section>
