<section class="sect-m s-adv" id="s-adv">
  <div class="container">
    <div class="sect-head">
      <h2 data-aos="fade" data-aos-duration="800" class="s-title">
        Преимущества нашей мебели
      </h2>
    </div>
    <div class="s-adv__grid">
      <div class="s-adv__item">
        <img src="@img/adv.png" alt="icon" />
        <span>Работаем только с проверенными поставщиками ЛДСП</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv.png" alt="icon" />
        <span>Кромка на ЛДСП с Пур клеем</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv.png" alt="icon" />
        <span>Любой вид фрезеровок на МДФ панелях</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv.png" alt="icon" />
        <span>ЧПУ присадка деталей, уменьшает риск ошибок на производстве</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv.png" alt="icon" />
        <span>ЧПУ присадка деталей, уменьшает риск ошибок на производстве</span>
      </div>
    </div>
  </div>
</section>
