<section class="sect-m s-booklet" id="s-booklet">
  <div class="container">
    <div class="sect-head">
      <div data-aos="fade" data-aos-duration="800" class="s-title s-booklet__title">
        Изготовим для Вас дизайн-проект, прежде чем начать работу
      </div>
      <a
        href="#modal-feedback"
        data-fancybox
        data-modal-title="Заказать дизайн-проект"
        data-btn-note="Заказать дизайн-проект"
        data-target-note="#modal-feedback .input-note"
        class="btn-s s-booklet__btn"
      >
        Заказать дизайн-проект
      </a>
    </div>
    <picture class="s-booklet__picture">
      <img src="@img/booklet.png" alt="image" >
    </picture>
  </div>
</section>
