<section class="sect-m s-contacts" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши контакты</h2>
    </div>
    <div class="s-contacts__wrap">
      <div class="s-contacts__info">
        <div class="s-contacts__item">
          <div class="item-name">Телефон:</div>
          <a href="tel:+79999999999" class="item-val">+7 (999) 999-99-99</a>
        </div>
        <div class="s-contacts__item">
          <div class="item-name">Наш адрес:</div>
          <div class="item-val">Казань, ул. Пушкина, д. 7</div>
        </div>
        <div class="s-contacts__item">
          <div class="item-name">График работы:</div>
          <div class="item-val">пн-пт с 09:00 до 19:00</div>
        </div>
        <div class="s-contacts__item">
          <div class="item-name">Мессенджеры:</div>
          <div class="social">
            <a href="#" target="_blank" class="social-item">
              <i class="icon-max"></i>
            </a>
            <a href="#" target="_blank" class="social-item">
              <i class="icon-tg"></i>
            </a>
          </div>
        </div>
      </div>
      <div
        data-center="[55.78680406893723,49.120966500000016]"
        data-zoom="18"
        class="s-contacts__map map"
      ></div>
    </div>
  </div>
</section>
