<section class="sect-m s-connect" id="s-connect">
  <div class="container">
    <div
      class="s-connect__body sect-body"
      style="background: url(&quot;@img/order.jpg&quot;) 0 0 / cover no-repeat"
    >
      <div class="s-connect__block">
        <div class="s-connect__head">
          <h2 class="s-title">Остались вопросы?</h2>
          <div class="s-connect__content content-box">
            <p>
              Заполните форму, и наш менеджер свяжется с Вами в течение 15 минут
            </p>
          </div>
        </div>
        <form action="#" class="s-connect__form">
          <div class="form-grid">
            <div class="form-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Номер телефона" class="input" />
            </div>
            <div class="check-wrapper">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-297"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я соглашаюсь с
                          <a href="/personal-data" target="_blank">
                            Правилами обработки персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <button type="submit" class="btn-s">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
