<section class="s-faq sect-m" id="s-faq">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Частые вопросы</h2>
    </div>
    <div data-spollers class="s-faq__spollers-wrap">
      <div class="s-faq__spollers-col">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spollers-col">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>В какие города доступна доставка?</span>
            <div class="item-rect">
              <i class="icon-bottom"></i>
            </div>
          </div>
          <div>
            <div class="s-faq__spoller-content content-box">
              <p>
                Прежде всего, постоянный количественный рост и сфера нашей
                активности не оставляет шанса для поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
