<section class="sect-m s-gallery" id="s-gallery">
  <div class="container">
    <div class="s-gallery__wrapper">
      <div class="s-gallery__slider-wrapper">
        <div class="slider-arrow _prev _dark">
          <i class="icon-prev"></i>
        </div>
        <div class="slider-arrow _next _dark">
          <i class="icon-next"></i>
        </div>
        <div class="swiper s-gallery__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/gallery.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery.jpg" alt="image" />
              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
            <a
              href="@img/gallery.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery.jpg" alt="image" />
              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
            <a
              href="@img/gallery.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery.jpg" alt="image" />
              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
            <a
              href="@img/gallery.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery.jpg" alt="image" />
              <div class="btn-play">
                <i class="icon-play"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="s-gallery__info">
        <div class="s-gallery__info-main">
          <h2 class="s-title s-gallery__title">
            Собственное производство <br> всей мебели
          </h2>
          <div class="content-box s-gallery__content">
            <p>
              Таким образом, высокотехнологичная концепция общественного уклада не
              даёт нам иного выбора, кроме определения приоретизации разума над
              эмоциями.
              <br />
              Для современного мира выбранный нами инновационный путь, а также
              свежий взгляд на привычные вещи — безусловно открывает новые
              горизонты для поставленных обществом задач.
            </p>
          </div>
        </div>
        <div class="swiper s-gallery__thumb-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-gallery__thumb-slide" style="background: url('@img/gallery.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-gallery__thumb-slide" style="background: url('@img/gallery.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-gallery__thumb-slide" style="background: url('@img/gallery.jpg') 0 0 / cover no-repeat;"></div>
            <div class="swiper-slide s-gallery__thumb-slide" style="background: url('@img/gallery.jpg') 0 0 / cover no-repeat;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
