<section class="sect-m s-get" id="s-get">
  <div class="container">
    <div class="s-get__body sect-body">
      <picture class="s-get__decor">
        <img src="@img/get-decor.png" alt="decor">
      </picture>
      <div class="s-get__wrapper">
        <h2 class="s-title s-get__title">
          Есть готовый дизайн-проект?
          <br />
          Мы бесплатно просчитаем его прямо сейчас
        </h2>
        <div class="content-box s-get__content">
          <p>
            Есть готовый дизайн-проект? Мы бесплатно просчитаем его прямо сейчас
          </p>
        </div>
        <form action="#" class="s-get__form">
          <div class="form-grid">
            <div class="form-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Номер телефона" class="input" />
            </div>
            <div class="form-control">
              <label class="file-wrapper">
                <input type="file" />
                <div class="file-btn">
                  <span class="file-name">Прикрепить дизайн-проект</span>
                  <i class="icon-attach"></i>
                </div>
              </label>
            </div>
          </div>
          <div class="check-wrapper">
            <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
              <span class="wpcf7-form-control wpcf7-acceptance">
                <span class="wpcf7-list-item">
                  <label>
                    <input
                      type="checkbox"
                      name="acceptance-297"
                      value="1"
                      aria-invalid="false"
                    />
                    <span class="wpcf7-list-item-label">
                      <span>
                        Я соглашаюсь с
                        <a href="/personal-data" target="_blank">
                          Правилами обработки персональных данных
                        </a>
                      </span>
                    </span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <button type="submit" class="btn-s">Заказать дизайн-проект</button>
        </form>
      </div>
    </div>
  </div>
</section>
