<section class="s-hero">
  <div
    class="s-hero__scroll-video"
    id="hero-video"
    data-src="./files/video.mp4"
  ></div>
  <div class="s-hero__frame">
    <div class="container">
      <div class="s-hero__frame-center">
        <div class="s-hero__frame-center-wrap">
          <img src="@img/logo-full.svg" alt="logo" class="s-hero__frame-logo" />
          <div class="separator"></div>
          <div class="s-hero__frame-text">КОМФОРТ НАЧИНАЕТСЯ С НАС</div>
        </div>
      </div>
    </div>
  </div>
</section>
