<section class="s-hero">
  <div class="s-hero__gallery">
    <div class="s-hero__gallery-inside">
      <div
        class="s-hero__scroll-video"
        id="hero-video"
        data-src="./files/video.mp4"
      ></div>
    </div>
  </div>
  <div class="s-hero__frame _start" id="hero-frame-start">
    <div class="container">
      <div class="s-hero__frame-center">
        <div class="s-hero__frame-center-wrap">
          <img src="@img/logo-full.svg" alt="logo" class="s-hero__frame-logo" />
          <div class="separator"></div>
          <div class="s-hero__frame-text">КОМФОРТ НАЧИНАЕТСЯ С НАС</div>
        </div>
      </div>
      <div class="s-hero__scroll-btn">
        <span>Scroll</span>
        <div class="item-rect">
          <i class="icon-arrow-bottom"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="s-hero__frame _bottom _second" id="hero-frame-second">
    <div class="container">
      <div class="s-hero__frame-wrap">
        <p class="s-hero__frame-content">
          Изготовим корпусную мебель и кухонный гарнитур для вашей квартиры
          под ваш бюджет
        </p>
        <a
          href="#modal-feedback"
          data-fancybox
          class="btn-s _white s-hero__frame-btn"
        >
          Опишите задачу
        </a>
      </div>
    </div>
  </div>
</section>
