<section class="sect-m s-order" id="s-order">
  <div class="container">
    <div class="s-order__body sect-body" style="background: url('@img/order.jpg') 0 0 / cover no-repeat;">
      <div class="s-order__block">
        <div data-aos="fade" data-aos-duration="800" class="s-title s-order__title">
          При заказе кухни
          <br />
          мебельный гарнитур в подарок
        </div>
        <form action="#" class="s-order__form">
          <div class="form-grid">
            <div class="form-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Номер телефона" class="input" />
            </div>
          </div>
          <div class="check-wrapper">
            <span class="wpcf7-form-control-wrap" data-name="acceptance-297">
              <span class="wpcf7-form-control wpcf7-acceptance">
                <span class="wpcf7-list-item">
                  <label>
                    <input
                      type="checkbox"
                      name="acceptance-297"
                      value="1"
                      aria-invalid="false"
                    />
                    <span class="wpcf7-list-item-label">
                      <span>
                        Я соглашаюсь с
                        <a href="/personal-data" target="_blank">
                          Правилами обработки персональных данных
                        </a>
                      </span>
                    </span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <button type="submit" class="btn-s">Заказать дизайн-проект</button>
        </form>
      </div>
    </div>
  </div>
</section>
