<section class="sect-p s-portfolio bg-mine-shaft" id="s-portfolio">
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title s-portfolio__title">
        Примеры наших работ по изготовлению корпусной мебели и кухонных
        гарнитуров
      </h2>
    </div>
    <div class="s-portfolio__nav-wrap">
      <div class="tabs-nav s-portfolio__tabs-nav">
        <div data-tab-btn="tab-all" class="s-portfolio__tabs-btn _active">
          Все проекты
        </div>
        <div data-tab-btn="tab-0" class="s-portfolio__tabs-btn">Кухни</div>
        <div data-tab-btn="tab-1" class="s-portfolio__tabs-btn">Спальни</div>
        <div data-tab-btn="tab-2" class="s-portfolio__tabs-btn">Гостиные</div>
        <div data-tab-btn="tab-3" class="s-portfolio__tabs-btn">Ванные</div>
        <div data-tab-btn="tab-4" class="s-portfolio__tabs-btn">
          Гардеробные
        </div>
        <div data-tab-btn="tab-5" class="s-portfolio__tabs-btn">Прихожие</div>
      </div>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <i class="icon-prev"></i>
        </div>
        <div class="slider-arrow _next">
          <i class="icon-next"></i>
        </div>
      </div>
    </div>
    <div class="swiper s-portfolio__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-portfolio">
            <div class="swiper card-portfolio__slider">
              <div class="slider-arrow _prev">
                <i class="icon-prev"></i>
              </div>
              <div class="swiper-wrapper">
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
              </div>
              <div class="slider-arrow _next">
                <i class="icon-next"></i>
              </div>
              <a href="@img/hero.jpg" data-fancybox class="btn-play">
                <i class="icon-play"></i>
              </a>
            </div>
            <div class="card-portfolio__body">
              <div class="card-portfolio__tag">Кухни</div>
              <h3 class="card-portfolio__title">
                Белая кухня со встроенной техникой
              </h3>
              <div class="content-box card-portfolio__content">
                <h5>Какие задачи стояли:</h5>
                <p>
                  Интерьер создавался для дизайнера. Мы стремились к
                  максимальной лёгкости: белая кухня не перегружает
                  пространство, а плавно в него вливается. Техника полностью
                  скрыта за фасадами, поэтому ничто не нарушает чистоту линий.
                </p>
                <p>
                  <span style="color: black">Габариты (ШхВхГ):</span>
                  222,6/423 х 282,6 х 32/60 см
                  <br />
                  <span style="color: black">Корпус:</span>
                  ЛДСП 16 мм, Egger
                  <br />
                  <span style="color: black">Кромка:</span>
                  Egger ПВХ 2,0 х 19 мм «Белый»
                  <br />
                  <span style="color: black">Фасад:</span>
                  МДФ 19 мм и 16 мм с фрезеровкой
                  <br />
                  <span style="color: black">Покрытие фасада:</span>
                  «Эмаль матовая»
                  <br />
                </p>
              </div>
              <ul class="list card-portfolio__list">
                <li>Классическая фрезеровка</li>
                <li>Золотые ручки</li>
                <li>Встроенная техника</li>
                <li>Push to open</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-portfolio">
            <div class="swiper card-portfolio__slider">
              <div class="slider-arrow _prev">
                <i class="icon-prev"></i>
              </div>
              <div class="swiper-wrapper">
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
              </div>
              <div class="slider-arrow _next">
                <i class="icon-next"></i>
              </div>
              <a href="@img/hero.jpg" data-fancybox class="btn-play">
                <i class="icon-play"></i>
              </a>
            </div>
            <div class="card-portfolio__body">
              <div class="card-portfolio__tag">Кухни</div>
              <h3 class="card-portfolio__title">
                Белая кухня со встроенной техникой
              </h3>
              <div class="content-box card-portfolio__content">
                <h5>Какие задачи стояли:</h5>
                <p>
                  Интерьер создавался для дизайнера. Мы стремились к
                  максимальной лёгкости: белая кухня не перегружает
                  пространство, а плавно в него вливается. Техника полностью
                  скрыта за фасадами, поэтому ничто не нарушает чистоту линий.
                </p>
                <p>
                  <span style="color: black">Габариты (ШхВхГ):</span>
                  222,6/423 х 282,6 х 32/60 см
                  <br />
                  <span style="color: black">Корпус:</span>
                  ЛДСП 16 мм, Egger
                  <br />
                  <span style="color: black">Кромка:</span>
                  Egger ПВХ 2,0 х 19 мм «Белый»
                  <br />
                  <span style="color: black">Фасад:</span>
                  МДФ 19 мм и 16 мм с фрезеровкой
                  <br />
                  <span style="color: black">Покрытие фасада:</span>
                  «Эмаль матовая»
                  <br />
                </p>
              </div>
              <ul class="list card-portfolio__list">
                <li>Классическая фрезеровка</li>
                <li>Золотые ручки</li>
                <li>Встроенная техника</li>
                <li>Push to open</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-portfolio">
            <div class="swiper card-portfolio__slider">
              <div class="slider-arrow _prev">
                <i class="icon-prev"></i>
              </div>
              <div class="swiper-wrapper">
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
              </div>
              <div class="slider-arrow _next">
                <i class="icon-next"></i>
              </div>
              <a href="@img/hero.jpg" data-fancybox class="btn-play">
                <i class="icon-play"></i>
              </a>
            </div>
            <div class="card-portfolio__body">
              <div class="card-portfolio__tag">Кухни</div>
              <h3 class="card-portfolio__title">
                Белая кухня со встроенной техникой
              </h3>
              <div class="content-box card-portfolio__content">
                <h5>Какие задачи стояли:</h5>
                <p>
                  Интерьер создавался для дизайнера. Мы стремились к
                  максимальной лёгкости: белая кухня не перегружает
                  пространство, а плавно в него вливается. Техника полностью
                  скрыта за фасадами, поэтому ничто не нарушает чистоту линий.
                </p>
                <p>
                  <span style="color: black">Габариты (ШхВхГ):</span>
                  222,6/423 х 282,6 х 32/60 см
                  <br />
                  <span style="color: black">Корпус:</span>
                  ЛДСП 16 мм, Egger
                  <br />
                  <span style="color: black">Кромка:</span>
                  Egger ПВХ 2,0 х 19 мм «Белый»
                  <br />
                  <span style="color: black">Фасад:</span>
                  МДФ 19 мм и 16 мм с фрезеровкой
                  <br />
                  <span style="color: black">Покрытие фасада:</span>
                  «Эмаль матовая»
                  <br />
                </p>
              </div>
              <ul class="list card-portfolio__list">
                <li>Классическая фрезеровка</li>
                <li>Золотые ручки</li>
                <li>Встроенная техника</li>
                <li>Push to open</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-portfolio">
            <div class="swiper card-portfolio__slider">
              <div class="slider-arrow _prev">
                <i class="icon-prev"></i>
              </div>
              <div class="swiper-wrapper">
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
                <a
                  href="@img/portfolio.jpg"
                  data-fancybox
                  class="swiper-slide card-portfolio__slide"
                >
                  <img src="@img/portfolio.jpg" alt="image" />
                </a>
              </div>
              <div class="slider-arrow _next">
                <i class="icon-next"></i>
              </div>
              <a href="@img/hero.jpg" data-fancybox class="btn-play">
                <i class="icon-play"></i>
              </a>
            </div>
            <div class="card-portfolio__body">
              <div class="card-portfolio__tag">Кухни</div>
              <h3 class="card-portfolio__title">
                Белая кухня со встроенной техникой
              </h3>
              <div class="content-box card-portfolio__content">
                <h5>Какие задачи стояли:</h5>
                <p>
                  Интерьер создавался для дизайнера. Мы стремились к
                  максимальной лёгкости: белая кухня не перегружает
                  пространство, а плавно в него вливается. Техника полностью
                  скрыта за фасадами, поэтому ничто не нарушает чистоту линий.
                </p>
                <p>
                  <span style="color: black">Габариты (ШхВхГ):</span>
                  222,6/423 х 282,6 х 32/60 см
                  <br />
                  <span style="color: black">Корпус:</span>
                  ЛДСП 16 мм, Egger
                  <br />
                  <span style="color: black">Кромка:</span>
                  Egger ПВХ 2,0 х 19 мм «Белый»
                  <br />
                  <span style="color: black">Фасад:</span>
                  МДФ 19 мм и 16 мм с фрезеровкой
                  <br />
                  <span style="color: black">Покрытие фасада:</span>
                  «Эмаль матовая»
                  <br />
                </p>
              </div>
              <ul class="list card-portfolio__list">
                <li>Классическая фрезеровка</li>
                <li>Золотые ручки</li>
                <li>Встроенная техника</li>
                <li>Push to open</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
