<section class="sect-p bg-mine-shaft s-team" id="s-team">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Команда LERO мебель</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <i class="icon-prev"></i>
        </div>
        <div class="slider-arrow _next">
          <i class="icon-next"></i>
        </div>
      </div>
    </div>
    <div class="swiper s-team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Иван Иванов</h5>
            <div class="card-team__post">Должность</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Иван Иванов</h5>
            <div class="card-team__post">Должность</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Иван Иванов</h5>
            <div class="card-team__post">Должность</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Иван Иванов</h5>
            <div class="card-team__post">Должность</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Иван Иванов</h5>
            <div class="card-team__post">Должность</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Иван Иванов</h5>
            <div class="card-team__post">Должность</div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>