<section class="sect-p bg-mine-shaft s-video" id="s-video">
  <div class="container">
    <div class="sect-head">
      <h2 data-aos="fade" data-aos-duration="800" class="s-title">Видео-отзывы</h2>
    </div>
    <div class="swiper s-video__slider">
      <div class="swiper-wrapper">
        <a href="@img/video.jpg" data-fancybox="video-gallery" class="swiper-slide s-video__slide">
          <img src="@img/video.jpg" alt="image">
          <div class="btn-play">
            <i class="icon-play"></i>
          </div>
        </a>
        <a href="@img/video.jpg" data-fancybox="video-gallery" class="swiper-slide s-video__slide">
          <img src="@img/video.jpg" alt="image">
          <div class="btn-play">
            <i class="icon-play"></i>
          </div>
        </a>
        <a href="@img/video.jpg" data-fancybox="video-gallery" class="swiper-slide s-video__slide">
          <img src="@img/video.jpg" alt="image">
          <div class="btn-play">
            <i class="icon-play"></i>
          </div>
        </a>
        <a href="@img/video.jpg" data-fancybox="video-gallery" class="swiper-slide s-video__slide">
          <img src="@img/video.jpg" alt="image">
          <div class="btn-play">
            <i class="icon-play"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>